@tailwind base;
@tailwind components;
@tailwind utilities;


html, body{ 
    font-family: 'Fanwood Text';
    height: 100%;
}
::-webkit-scrollbar {
  width: .8rem;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
}
  
/* Handle */
::-webkit-scrollbar-thumb {
  background: #364833; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #b1c9ac; 
}

.chatbox {
  width: 100%;
  height: 3rem;
  border-radius: 10px;
  box-sizing: border-box;
  overflow: scroll;
  word-break: break-all;
  overflow-wrap: break-word;
  padding: 4px;
  outline: none;
  overflow-x: hidden;
}


.invitations_fluctuation {
  animation: fluctuate 3s infinite;
}
@keyframes fluctuate {
  0% {
    background-color: #86a97f;
  }
  50% {
      background-color: #332417;
  }
  100% {
      background-color: #86a97f;
  }
}